$bg-color: #F8F9FA;
$btn-bgcolor: blue;

$btn-txtcolor: white;
$header-txtcolor: white;
$btmBanner-txtcolor: white;
$nav-txtcolor: blue;
$review-txtcolor: #666;
$reviewAuthor-txtcolor: black;
$article-txtcolor: #666;
$articleheader-txtcolor: black;

$reviewtxt-size: 0.9em;

$main-width: 100%;
$header-width: 100%